<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recuperación de Contraseña RUI</title>
</head>
<body>
    <table style="width:80%;margin:0 auto;font-family:Arial;">
        <tr style="background-color:#35348A;color:#FFFF;">
            <td style="padding:10px 0;text-align:center;font-size:16px;font-weight:bolder;">
                SISTEMA DE REGISTRO ÚNICO DE INTERMEDIARIOS
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr style="font-size:14px;">
            <td>
                <p>Hemos recibido una solicitud para restablecer su contraseña.</p>
                <p>Por favor, haga clic en el siguiente enlace para crear una nueva contraseña:</p>
                <p>
                    <a th:href="${recoveryLink}">Restablecer Contraseña</a>
                </p>
                <p>Si no ha solicitado este cambio, puede ignorar este correo electrónico.</p>
                <p>Este enlace será válido por 24 horas.</p>
                <p>Fecha: <span th:text="${currentDate}">01/01/2025</span></p>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr style="background-color:#35348A;color:#FFFF;">
            <td style="padding:10px 0;text-align:center;font-size:16px;font-weight:bolder;">
                MINISTERIO DEL TRABAJO
            </td>
        </tr>
    </table>
</body>
</html>