<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RUI</title>
</head>
<body>
    <table style="width:80%;margin:0 auto;font-family:Arial;">
        <tr style="background-color:#35348A;color:#FFFF;">
            <td style="padding:10px 0;text-align:center;font-size:16px;font-weight:bolder;">
                SISTEMA DE REGISTRO ÚNICO DE INTERMEDIARIOS
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr style="font-size:14px;">
            <td>
                <p>Bogotá D.C. <span th:text="${currentDate}"></span></p>
                <br/>
                <p th:text="${name}"></p>
                <p th:text="${address}"></p>
                <p th:text="${city}"></p>
                <p>Asunto: Desistimiento solicitud registro de intermediarios</p>
                <p>Respetado(a) Intermediario(a).</p>
                <br/>
                <p>En atención a su registro número <span th:text="${radicateNumber}"></span> hemos cambiado su registro al estado de "desistimiento" de acuerdo con su solicitud.</p>
                <p>Si en el futuro usted desea volver a solicitar registro, con su usuario y contraseña puede entrar al aplicativo y diligenciar un nuevo formulario.</p>
                <br/>
                <p>Cordial Saludo,</p>
                <br/>
                <p><strong>MINISTERIO DEL TRABAJO</strong></p>
                <p><strong>Registro Único de Intermediarios</strong></p>
                <p>*** Importante: por favor, no responda a este correo electrónico. Este buzón no se ha configurado para recibir correo electrónico. ***</p>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr style="background-color:#35348A;color:#FFFF;">
            <td style="padding:10px 0;text-align:center;font-size:16px;font-weight:bolder;">
                MINISTERIO DEL TRABAJO
            </td>
        </tr>
    </table>
</body>
</html>